
/*#header {
    background-color: rosybrown;
    height: auto;
    width: auto;
    margin: 0 20vw 0 20vw;
}*/

#nav {
    font-size: 3vh;
    color: antiquewhite;
}

.nav_li {
    color: antiquewhite;
}

#second_header {
    position:fixed;
    top: 0;
    height: 75px;
    width: 1100px;
    background-color: lightcoral;
    color: antiquewhite;
    font-family: Stalemate, cursive;
    font-size: 40px;
    margin: 0;
}

#second_header_ul {
    margin: 0;

}
#about_me {
    color: lightcoral;
    font-size: 15vh;
    font-family: Stalemate, cursive;
    padding: 20vh 0 0 0;
}

.section_div {
    height: auto;
    width: auto;
    margin: 15vh 10vw 15vh 10vw;
}
#skills {
    color: lightcoral;
    font-size: 15vh;
    font-family: Stalemate, cursive;
    padding: 20vh 0 0 0;
}

#experience {
    color: lightcoral;
    font-size: 15vh;
    font-family: Stalemate, cursive;
    padding: 20vh 0 0 0;
}

#contact_me {
    color: lightcoral;
    font-size: 15vh;
    font-family: Stalemate, cursive;
    padding: 20vh 0 0 0;
}

body {
    background-color: antiquewhite;
    width: 1100px;
}

li {
    display: inline-block;
    margin: 0;
    padding: 10px 20px 0 20px;
}


a:link {
    text-decoration: none;
}

a:visited {
    color: antiquewhite;
}


h3 {
    text-align: center;
}

h3+h4 {
    text-align: center;
    font-family: Helvetica, sans-serif;
}

p {
    font-family: Helvetica, sans-serif;
}