
#header {
    background-color: rosybrown;
}

#nav {
    font-size: 3vh;
}

#about_me {
    color: cornflowerblue;
    font-size: 15vh;
    font-family: Stalemate, cursive;
}

#skills {
    color: goldenrod;
    font-size: 15vh;
    font-family: Stalemate, cursive;
}

#experience {
    color: olive;
    font-size: 15vh;
    font-family: Stalemate, cursive;
}

#contact_me {
    color: lightcoral;
    font-size: 15vh;
    font-family: Stalemate, cursive;
}

body {
    background-color: antiquewhite;
}

li {
    display: inline-block;
    margin: 2vw;
}


a:link {
    text-decoration: none;
    color: antiquewhite;
}

a:visited {
    color: antiquewhite;
}

a:hover {
    color: lightcoral;
}

h3 {
    text-align: center;
    background-color: antiquewhite;
}

h3+h4 {
    text-align: center;
    font-family: Helvetica, sans-serif;
}